<settings>
  <id>SettingsInfoImpl-37799a2:152c664e321:-7fff</id>
  <workspace>
    <id>WorkspaceInfoImpl--6e9d1a49:150d2d8b42d:-7fec</id>
    <name>piazza</name>
  </workspace>
  <contact>
    <id>contact</id>
    <addressCity>Alexandria</addressCity>
    <addressCountry>Egypt</addressCountry>
    <addressType>Work</addressType>
    <contactEmail>claudius.ptolomaeus@gmail.com</contactEmail>
    <contactOrganization>The ancient geographes INC</contactOrganization>
    <contactPerson>Claudius Ptolomaeus</contactPerson>
    <contactPosition>Chief geographer</contactPosition>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
</settings>